.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    transition: all 0.2s;
    cursor: pointer;
    gap:5px;
    &.selected {
        background-color: white;
    }
    .more {
        border-radius: 50%;
        background-color: #adadad;
        color: #949494;
        opacity: 0;
        height: 20px;
        width: 20px;
    }
    &:hover {
        background-color: #dddddd;
        .more {
            opacity: 1;
            &:hover {
                background-color: #a0a0a0;
                color: #636363;
            }
        }
    }
}